{{#if posts.length}}
  {{#each posts}}
    <div class="post">
      <h2>{{this.title}}</h2>
      {{#if (equals this.user_id ../current_user_id)}}
        <p><a href="/dashboard">{{this.user.username}}</a></p>
      {{else}}
        <p><a href="/user/{{this.user_id}}">{{this.user.username}}</a></p>
      {{/if}}
      {{#if this.image_url}}
        <img src="{{this.image_url}}" height="auto" width="400" alt="Post Image">
      {{/if}}
      <button class="like-btn" data-id="{{this.id}}">Like</button>
      <span id="like-count-{{this.id}}">{{this.numLikes}} likes</span>
      <p>Posted on {{format_date this.createdAt}}</p>
      <a href="/post/{{this.id}}">Read More</a>
    </div>
  {{/each}}
{{else}}
  <p>No posts yet</p>
{{/if}}

<script src="/js/likePost.js"></script>
<script src="/js/follow.js"></script>