{{#if posts.length}}
  {{#each posts}}
    <div class="post">
      <h2>{{this.title}}</h2>
      <p>By {{this.user.username}} on {{this.createdAt}}</p>
      <a href="/post/{{this.id}}">Read More</a>
    </div>
  {{/each}}
{{else}}
  <p>No posts yet</p>
{{/if}}
