<h2>
  {{username}}
  <button data-id="{{id}}" class="follow-btn {{#if isFollowing}}unfollow{{else}}follow{{/if}}">
    {{#if isFollowing}}Unfollow{{else}}Follow{{/if}}
  </button>
</h2>

<ul>
  {{#each posts}}
    <li>
      <h4>{{this.title}}</h4>
      {{#if this.image_url}}
        <img src="{{this.image_url}}" height="auto" width="400" alt="Post Image">
      {{/if}}
      <p>{{this.content}}</p>
      <button class="like-btn" data-id="{{this.id}}">Like</button>
      <span id="like-count-{{this.id}}">{{this.numLikes}} likes</span>
      <p>Posted on {{format_date this.createdAt}}</p>
    </li>
  {{/each}}
</ul>

<h3>Followers</h3>
<ul>
  {{#each followers}}
    {{#if (equals this.id ../current_user_id)}}
      <p><a href="/dashboard">{{this.username}}</a></p>
    {{else}}
      <p><a href="/user/{{this.id}}">{{this.username}}</a></p>
    {{/if}}
  {{/each}}
</ul>

<h3>Following</h3>
<ul>
  {{#each following}}
    {{#if (equals this.id ../current_user_id)}}
      <p><a href="/dashboard">{{this.username}}</a></p>
    {{else}}
      <p><a href="/user/{{this.id}}">{{this.username}}</a></p>
    {{/if}}
  {{/each}}
</ul>

<script src="/js/follow.js"></script>
<script src="/js/likePost.js"></script>
